<mat-card>
    <mat-card-title>
        Novo Produto
    </mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" 
                [(ngModel)]="product.nameProducts" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
                [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade De Produtos"
                [(ngModel)]="product.quantity" name="quantity">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="SKU"
                [(ngModel)]="product.SKU" name="SKU">
        </mat-form-field>
    </form>
    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="file" multiple="multiple" id="inputFiles" (change)="onChange($event)" placeholder="Imagem Do Produto" formcontrolname="imagem">
        
        <button mat-raised-button type="submit" color="primary">
            Salvar
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </form>
</mat-card>

