<div *ngIf="products" class="mat-elevation-z8">
  <table mat-table [dataSource]="products">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td class="imgProduct" mat-cell *matCellDef="let row">
        <img *ngIf="products" class="product" [src]="GerarImagem(count)" alt="">
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Codigo</th>
      <td class="id" mat-cell *matCellDef="let row">{{row.code}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td class="id" mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Preço</th>
      <td class="id" mat-cell *matCellDef="let row">{{row.price}}</td>
    </ng-container>

    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td class="id" mat-cell *matCellDef="let row">{{row.categoryName}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <ul>
    <li *ngFor="let product of products">
      <h2>
          {{ product.id }}
          <i class="material-icons arrow">
            arrow_right_alt
          </i> 
          {{ product.name }}
      </h2>
    </li>
</ul> -->
