<div *ngIf="requests" class="mat-elevation-z8">
  <table mat-table [dataSource]="requests">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Identificador</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let row"> {{row.value}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantidade de itens</th>
      <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="cep">
      <th mat-header-cell *matHeaderCellDef>CEP</th>
      <td mat-cell *matCellDef="let row"> {{row.cep}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="deliverymode">
      <th mat-header-cell *matHeaderCellDef>Tipo de envio</th>
      <td mat-cell *matCellDef="let row"> {{row.deliveryMode}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
