<div class="mat-elevation-z8 fundoInfos">
    <h1>
        <span>
            Cliente: {{ customers.name }}
        </span>
        <span>
            Id: {{ customers.id }}
        </span>
    </h1>
    <div class="infos">
        <span>
            CPF: {{ customers.CPF }}
        </span>
        <span>
            Email: {{ customers.Email }}
        </span>
        <span>
            Phone: {{ customers.Phone }}
        </span>
        <span>
            Endereço: {{ customers.End }}
        </span>
    </div>
</div>