<div *ngIf="customers" class="mat-elevation-z8 fundoInfos">
    <h1>
        <span>
            Cliente: {{ customers.firstName }}
        </span>
        <span>
            Id: {{ customers.id }}
        </span>
    </h1>
    <div class="infos">
        <span>
            CPF: {{ customers.cpf }}
        </span>
        <span>
            Email: {{ customers.email }}
        </span>
        <span>
            Phone: {{ customers.phone }}
        </span>
        <span>
            Endereço: {{ customers.address }}
        </span>
    </div>
</div>