.produto {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.botões {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}